
.component-panel-border {
    border: 0.1em solid var(--bg-tertiary) !important;
    border-radius: var(--radius-medium) !important;
    background: var(--bg-secondary) !important;
}

.component-panel-border-dark {
    border: var(--border-size) solid var(--bg-tertiary) !important;
    border-radius: var(--radius-strong) !important;
    background: var(--bg-primary) !important;
}