
:root {
    --bg-primary: #0D1317;
    --bg-secondary: #141A1F;
    --bg-tertiary: #212B31;

    --text-light: #E9EFF3;
    --text-primary: #9DB2C0;
    --text-neutral: #ACAEB0;
    --text-muted: #293945;
    --text-error: rgb(239, 68, 68);

    --accent-primary: #40EEC8;


    --radius: 0.3em;
    --radius-medium: 0.5em;
    --radius-strong: 0.8em;

    --border-size: 2px;


    --shadow: rgba(61, 65, 72, .15);

    --font-size-small: 0.7em;
    --font-size-normal: 0.8em;
    --font-size-normaler: 1em;
    --font-size-mobile: 1.1em;
    --font-size-big: 1.2em;
    --font-size-huge: 1.5em;


    --z-index-1: 2;
    --z-index-2: 5;
    --z-index-3: 10;
    --z-index-4: 20;
    --z-index-5: 30;


    font-size: var(--font-size-normal);
    line-height: 1.5;
    user-select: none;

    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
}


[data-theme="light-1"] {
    /* 175, 175, 175*/


    /*--bg-primary: #e1e1e1;*/
    /*--bg-secondary: #d8d9d9;*/

    --bg-primary: rgba(255, 255, 255);
    --bg-secondary: rgba(255, 255, 255);

    --bg-tertiary: #bdbbbb;

    --text-light: #192638;
    --text-primary: #34465d;
    --text-neutral: #4f627a;
    --text-muted: #8c929a;
    --text-muted: rgba(175, 175, 175);
    --text-error: rgb(239, 68, 68);

    --accent-primary: #217fe0;

}

[data-theme="dark-2"] {
    /*--bg-primary: #19152a;*/
    /*--bg-secondary: #120915;*/

    --bg-primary: #120915;
    --bg-secondary: #19152a;


    --bg-tertiary: #2d254d;

    --text-light: #e7e2e2;
    --text-primary: #ccc4c4;
    --text-neutral: #9b9ea2;
    --text-muted: #82888d;
    --text-error: rgb(239, 68, 68);

    --accent-primary: #66fd0f;
}

[data-theme="dark-3"] {
    --bg-primary: #1b2838; /* Deep Ocean Blue */
    --bg-secondary: #324154; /* Soft Steel Blue */
    --bg-tertiary: #6f8198; /* Bright Aqua */

    --text-light: #e0f7fa; /* Light Cyan */
    --text-primary: #c7d3d7; /* Soft Light Blue */
    --text-neutral: #81a3b5; /* Neutral Blue Gray */
    --text-muted: #607d8b; /* Muted Steel Gray */
    --text-error: #ff3d00; /* Bright Orange Red */

    --accent-primary: rgba(239, 146, 6, 0.98); /* Golden Yellow */
}

[data-theme="dark-4"] {

    --bg-primary: rgb(24, 21, 21);
    --bg-secondary: rgb(33, 30, 30);;
    --bg-tertiary: rgb(51, 48, 48);

    /*--bg-primary: #0d1b2a;*/
    /*--bg-secondary: #1b263b; !* Dark Slate Blue *!*/
    /*--bg-tertiary: #415a77; !* Rich Blue Gray *!*/

    /*!* Text Colors *!*/
    --text-light: rgba(245, 245, 245, 1); /* Soft White */

    /* 175, 175, 175*/

    --text-primary: rgb(220, 220, 220); /* Light Silver */
    --text-neutral: rgb(124, 120, 120); /* Warm Gray */
    --text-muted: rgb(89, 86, 86); /* Cool Gray */
    --text-error: #e53935; /* Vibrant Red */

    /*!* Accent Color *!*/
    /* Accent Color */
    --accent-primary: rgba(255, 183, 77, 0.98); /* Warm Amber */
}


body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: var(--bg-primary);
    color: var(--text-primary);

}


::selection {
    background-color: var(--accent-primary); /* Green background */
    color: black; /* White text */
}


ol, ul {
    list-style: inside;
    padding: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold; /* Or any other font weight you prefer */
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

h4 {
    font-size: medium;
}

h5 {
    font-size: small;
}

h5 {
    font-size: smaller;
}

p {
    code {
        background: var(--bg-tertiary);
        padding: 0.1em 0.5em;
        border-radius: 0.2em;
        color: var(--text-primary) !important;
    }
}

pre {
    code {
        color: var(--text-muted) !important;
    }
}

blockquote {
    background: var(--bg-tertiary);
    padding: 0.5em;
    border-radius: var(--radious-1);
    margin: 0.5em;
}

p {
    font-size: 1.3em;
}


@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}


.my-cluster-icon {
    background: var(--bg-accent);
    color: var(--bg-100);
    padding: 1em;
    font-size: 1.2em;
    border-radius: 50%;
}

.leaflet-no-cluster {
    background: red;
}

.scroll {
    scrollbar-width: thin;
    scrollbar-color: var(--accent-primary) var(--bg-primary);
}


.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-animation 0.9s linear;
    background: var(--text-muted); /* Adjust as needed */
    pointer-events: none; /* Ignore pointer events */
}

@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}


